In [1]:
import pandas as pd

In [2]:
sales_listings = pd.read_csv('http://files.zillowstatic.com/research/public/Zip/MedianDailyListings_NSA_AllHomes_Zip.csv')

In [3]:
sales_listings.head()

,SizeRank,RegionID,RegionName,RegionType,StateName,2013-01,2013-02,2013-03,2013-04,2013-05,...,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09
0,1.0,61639,10025,Zip,NY,222.0,234.0,235.0,266.0,259.0,...,190.0,177.0,188.0,228.0,248.0,267.0,264.0,246.0,222.0,237
1,2.0,84654,60657,Zip,IL,288.0,306.0,370.0,384.0,396.0,...,301.0,289.0,330.0,352.0,416.0,429.0,488.0,504.0,514.0,514
2,3.0,61637,10023,Zip,NY,330.0,321.0,324.0,362.0,377.0,...,410.0,386.0,392.0,398.0,418.0,460.0,488.0,471.0,436.0,465
3,4.0,91982,77494,Zip,TX,611.0,656.0,694.0,666.0,675.0,...,657.0,618.0,656.0,705.0,786.0,814.0,877.0,867.0,820.0,712
4,5.0,84616,60614,Zip,IL,357.0,374.0,400.0,398.0,422.0,...,423.0,382.0,470.0,538.0,636.0,617.0,642.0,633.0,608.0,607

In [4]:
zillow_median_price = pd.read_csv('http://files.zillowstatic.com/research/public/Zip/Sale_Prices_Zip.csv')

In [12]:
zillow_median_price['StateName'].value_counts()

California              785
Florida                 553
New York                235
Pennsylvania            225
Illinois                224
Michigan                220
Ohio                    210
New Jersey              206
Washington              203
Virginia                192
North Carolina          182
Massachusetts           178
Colorado                175
Arizona                 171
Georgia                 170
Maryland                147
Tennessee               142
Minnesota               131
Oregon                  124
Texas                   119
Wisconsin                91
Missouri                 89
South Carolina           89
Nevada                   70
Louisiana                70
Alabama                  69
Connecticut              68
Kentucky                 68
Indiana                  66
Utah                     53
Oklahoma                 52
Arkansas                 46
Kansas                   46
Nebraska                 40
Iowa                     33
Rhode Island             32
New Hampshire            30
Idaho                    29
Delaware                 23
District of Columbia     17
North Dakota             13
West Virginia            12
Alaska                   10
New Mexico                9
Montana                   9
South Dakota              4
Hawaii                    4
Wyoming                   2
Mississippi               2
Maine                     1
Name: StateName, dtype: int64

In [18]:
zillow_ny_median_home_sale_price = zillow_median_price[zillow_median_price['StateName'] == 'New York']

In [20]:
zillow_ny_median_home_sale_price.describe()

,RegionID,RegionName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,...,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09
count,235.000000,235.000000,235.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,...,2.350000e+02,2.350000e+02,2.350000e+02,2.320000e+02,2.320000e+02,2.320000e+02,2.320000e+02,2.320000e+02,2.310000e+02,4.600000e+01
mean,62567.744681,12325.387234,3238.119149,292941.509434,293709.433962,289998.113208,285977.358491,285190.566038,282437.735849,277837.735849,...,3.693932e+05,3.694787e+05,3.672204e+05,3.676552e+05,3.685246e+05,3.706086e+05,3.725155e+05,3.739384e+05,3.721593e+05,5.723152e+05
std,648.683205,1414.537072,1615.988563,148995.987858,154438.691177,149463.754920,143057.517536,141077.428637,142021.289339,137754.627490,...,3.199272e+05,3.108989e+05,2.981792e+05,2.983143e+05,2.906969e+05,2.897379e+05,2.791981e+05,2.999515e+05,2.837693e+05,4.656764e+05
min,61616.000000,10002.000000,1.000000,77300.000000,74700.000000,77600.000000,68700.000000,71700.000000,72200.000000,74700.000000,...,5.050000e+04,5.840000e+04,6.240000e+04,6.400000e+04,6.280000e+04,5.940000e+04,5.030000e+04,4.810000e+04,4.780000e+04,1.007000e+05
25%,62144.000000,11551.000000,2016.500000,164500.000000,167200.000000,167100.000000,164500.000000,162600.000000,158100.000000,162700.000000,...,1.686500e+05,1.636500e+05,1.725500e+05,1.673750e+05,1.650250e+05,1.689750e+05,1.688000e+05,1.771250e+05,1.815000e+05,3.215250e+05
50%,62262.000000,11790.000000,3468.000000,299400.000000,283600.000000,271200.000000,280800.000000,297500.000000,284100.000000,270800.000000,...,3.003000e+05,3.023000e+05,3.023000e+05,2.996000e+05,3.048500e+05,3.087000e+05,3.126000e+05,3.166500e+05,3.240000e+05,4.621000e+05
75%,63297.500000,13790.000000,4555.500000,397000.000000,397000.000000,395300.000000,393900.000000,393400.000000,374100.000000,371700.000000,...,4.808500e+05,4.841000e+05,4.853000e+05,4.933500e+05,4.768000e+05,4.920500e+05,4.912750e+05,4.988500e+05,4.906500e+05,7.599250e+05
max,63776.000000,14850.000000,5678.000000,760200.000000,792200.000000,791400.000000,738200.000000,743400.000000,771000.000000,709400.000000,...,3.713300e+06,3.542700e+06,3.287800e+06,3.153800e+06,2.890700e+06,2.808300e+06,2.659700e+06,3.297600e+06,2.984100e+06,3.037400e+06